@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;500&family=Silkscreen&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Dosis", sans-serif;
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 200;
  /* overflow-x: hidden; */
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background-color: white;
  height: 10dvh;
  padding: 1rem;
}

#nav-toggle {
  font-size: 2rem;
  cursor: pointer;
  color: #101010;
}

#navigation {
  display: none;
  list-style-type: none;
  gap: 2rem;
  font-size: 2rem;
  background-color: white;
}

#navigation.active {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 100vw;
  font-size: 15vw;
  line-height: 15vw;
  top: 10dvh;
  left: 0;
  height: 90dvh;
  overflow: none;
  padding-top: 1rem;
  padding-left: 1rem;
}

@media (min-width: 735px) {
  #navigation {
    display: flex;
  }

  header {
    justify-content: end;
  }

  #nav-toggle {
    display: none;
  }
}

a {
  font-family: "Silkscreen", sans-serif;
  text-decoration: none;
  color: black;
}

a:hover {
  opacity: 0.5;
}

a.active {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

section {
  scroll-snap-align: start;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*  flex-wrap: wrap; */
  scroll-padding-top: 10dvh;
  padding-top: 10dvh;
  padding-inline: 2rem;
}

section > :first-child {
  margin-top: 10dvh;
}

#home {
  background-color: #ff595e;
}

#home > * {
  margin: 1rem;
}

/* #home img {
  width: 20vw;
}

#home div {
  width: 40vw;
}
*/

#home div p {
  height: 10dvh;
}

#projects {
  background-color: #ffd35c;
  gap: 3rem;
  padding-bottom: 20vh;
}

/* #projects p {
  max-width: 90%;
} */

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  list-style-type: none;
  width: 100%;
}

.project-card {
  background-color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card h3 {
  padding-bottom: 1rem;
  height: 6rem;
}

.project-card img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  object-position: top;
  margin-block: 1rem;
}

.project-card img:hover {
  object-position: bottom;
}

.project-info div {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 2rem;
  margin-block: 1rem;
}

.project-info p {
  font-family: "Silkscreen", sans-serif;
  margin: 0rem;
}

.project-info p span {
  font-family: "Dosis", sans-serif;
  font-size: 1.2rem;
}

#about {
  background-color: #a1db43;
  justify-content: space-between;
  padding-inline: 2rem;
}

#contact {
  background-color: #65c9ff;
  justify-content: space-between;
  max-height: 100vh;
  font-size: 2rem;
  line-height: 4rem;
}

#contact p {
  opacity: 0;
}

#contact ul {
  list-style-type: none;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.icons i {
  font-size: 3rem;
  padding: 0.75rem;
}

button {
  border: none;
  background: none;
}

h1 {
  margin-left: -1rem;
  line-height: 4rem;
}

@media (max-width: 400px) {
  h1 {
    line-height: 2rem;
  }
}

h1,
h2,
h4,
h5,
h6 {
  font-family: "Silkscreen", sans-serif;
  font-size: clamp(1.8rem, 10vw, 4rem);
}

h3 {
  font-family: "Silkscreen", sans-serif;
  font-size: 2rem;
}

.hover {
  font-weight: 400;
}

.hover:last-of-type {
  font-weight: 200;
}

.hover:hover {
  text-shadow: 0 0.02rem #101010, 0 -0.02rem #101010, 0.02rem 0 #101010,
    -0.02rem 0 #101010;
}

span.random > a {
  font-family: "Dosis", sans-serif;
  cursor: pointer;
}

p.subtle {
  font-family: "Silkscreen", sans-serif;
  color: #a1db43;
}

p.subtle:hover {
  color: #afff2f;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Silkscreen", sans-serif;
}

.copyright {
  font-family: "Dosis", sans-serif;
  margin-inline: 0.5rem;
}

@media screen and (min-width: 772px) {
  #home {
    flex-direction: row-reverse;
  }
  h1 {
    margin-left: -1.5rem;
  }
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
