:root {
  --primary-font: "Dosis", sans-serif;
  --secondary-font: "Silkscreen", sans-serif;
  --primary-color: #ff595e;
  --secondary-color: #ffd35c;
  --tertiary-color: #a1db43;
  --quad-color: #65c9ff;
  --white-color: #fff;
  --black-color: #000;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* html {
  scroll-behavior: smooth;
} */

body {
  font-family: var(--primary-font);
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 200;
}

h1 {
  margin-left: -1rem;
  line-height: 4rem;
  margin-bottom: 1rem;
}

@media (max-width: 400px) {
  h1 {
    line-height: 2rem;
  }
}

h1,
h2,
h4,
h5,
h6 {
  font-family: var(--secondary-font);
  font-size: clamp(1.8rem, 10vw, 4rem);
}

h3 {
  font-family: var(--secondary-font);
  font-size: 2rem;
}

a {
  font-family: var(--secondary-font);
  text-decoration: none;
  color: var(--black-color);
  padding: 0.25rem;
  margin-inline: -0.25rem;
}

a:hover {
  box-shadow: inset 800px 0 0 0 var(--black-color);
  color: var(--white-color);
}

a.active {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

button {
  border: none;
  background: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background-color: var(--white-color);
  height: 10dvh;
  padding: 1rem;
  z-index: 2;
}

#nav-toggle {
  font-size: 2rem;
  cursor: pointer;
  color: var(--black-color);
}

#navigation {
  display: none;
  list-style-type: none;
  gap: 2rem;
  font-size: 2rem;
  background-color: var(--white-color);
}

#navigation.active {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 100vw;
  font-size: 15vw;
  line-height: 15vw;
  top: 10dvh;
  left: 0;
  height: 90dvh;
  overflow: none;
  padding-top: 1rem;
  padding-left: 1rem;
}

@media (min-width: 735px) {
  #navigation {
    display: flex;
  }

  header {
    justify-content: end;
  }

  #nav-toggle {
    display: none;
  }
}

section {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-padding-top: 10dvh;
  padding-top: 10dvh;
  padding-inline: 2rem;
}

section > :first-child {
  margin-top: 10dvh;
}

#home {
  background-color: var(--primary-color);
}

#home > *:not(:first-child) {
  margin: 1rem;
}

#home > div {
  width: 100%;
}
#avatar {
  transition: all 0.5s ease-in-out;
}

#typewriter {
  height: 10rem;
  width: 100%;
}

@media (min-width: 400px) {
  #typewriter {
    height: 6rem;
  }
}

@media (min-width: 772px) {
  #home {
    flex-direction: row-reverse;
    justify-content: center;
  }
  #home div,
  #avatar {
    max-width: 50%;
  }
  #typewriter {
    width: auto;
    height: 12rem;
  }
  h1 {
    margin-left: -1.5rem;
  }
}

#projects {
  background-color: var(--secondary-color);
  gap: 3rem;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  list-style-type: none;
  width: 100%;
  max-width: 1200px;
}

.project-card {
  background-color: var(--white-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card h3 {
  padding-bottom: 1rem;
  height: 6rem;
}

.project-card img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  object-position: top;
  margin-block: 1rem;
}

.project-card img:hover {
  object-position: bottom;
}

.project-info div {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 2rem;
  margin-block: 1rem;
}

.project-info div a:hover {
  border-radius: 50%;
}

.project-info p {
  font-family: var(--secondary-font);
  margin: 0rem;
}

.project-info p span {
  font-family: var(--primary-font);
  font-size: 1.2rem;
}

#about {
  background-color: var(--tertiary-color);
  justify-content: space-between;
  gap: 2rem;
}

#contact {
  background-color: var(--quad-color);
  justify-content: space-between;
  font-size: 2rem;
}

#contact ul {
  list-style-type: none;
}

#contact li {
  margin-block: 2rem;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.icons i {
  font-size: 3rem;
  padding: 0.75rem;
}

#typewriter > a,
.random > a {
  font-family: var(--primary-font);
  cursor: pointer;
  font-weight: 800;
}

.subtle {
  font-family: var(--secondary-font);
  opacity: 0;
}

.subtle:hover {
  color: var(--white-color);
  opacity: 0.6;
}

footer {
  text-align: center;
  font-family: var(--secondary-font);
}

.copyright {
  font-family: var(--primary-font);
}

#toggle-package-json,
#toggle-terminal {
  cursor: pointer;
  margin-top: 10vh;
  margin-bottom: 2rem;
  text-align: center;
  h3 {
    padding: 0.25rem;
  }
}

#toggle-package-json:hover,
#toggle-terminal:hover {
  h3 {
    box-shadow: inset 800px 0 0 0 var(--black-color);
    color: var(--white-color);
  }
}

#package-json {
  display: none;
  font-size: 0.8rem;
  line-height: 1.6rem;
  overflow-x: auto;
}

#package-json.active {
  display: flex;
  background-color: var(--white-color);
  padding: 2rem;
}

#terminal {
  display: none;
}

#terminal.active {
  display: block;
  width: 100%;
  height: 100%;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
